{% extends 'blog/base.html' %}
{% load post %}
{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h1>{{ post.title | markdown_html | safe }}</h1>
        {{ post.text| markdown_html | safe }}

        {% for comment in comments %}
            <div class="comment">
            <div class="date">{{  comment.created_date  }}<div>
                {{ comment.title  }}
                 {{ comment.text  }}
            </div>
            {% empty %}
                <p>No comments here yet :)) </p>
        {% endfor %}

    <form action="." method="POST">
        {% csrf_token %}
          {{ form.as_p }}
        <input type="submit" value="Submit" />
    </form>
    </div>

{% endblock %}
